In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from nltk import word_tokenize
import os

In [8]:
df = pd.read_csv('data.csv')
df.head()

   Doc                     Words Class
0    1   Chinese Beijing Chinese     c
1    2  Chinese Chinese Shanghai     c
2    3             Chinese Macao     c
3    4       Tokyo Japan Chinese     j

In [9]:
unique = []
for i in df['Words']:
    for j in i.split():
        if j not in unique:
            unique.append(j)
print(unique)

['Chinese', 'Beijing', 'Shanghai', 'Macao', 'Tokyo', 'Japan']

In [10]:
nc = df[df['Class']=='c']
nj = df[df['Class']=='j']

In [11]:
classes = 2

In [12]:
query = "Chinese Chinese Chinese Tokyo Japan"

In [13]:
nc

   Doc                     Words Class
0    1   Chinese Beijing Chinese     c
1    2  Chinese Chinese Shanghai     c
2    3             Chinese Macao     c

In [14]:
Prob_c = {}
for i in unique:
    for j in nc['Words']:
        if i in j:
            if i not in Prob_c:
                Prob_c[i] = 1
            else:
                Prob_c[i] += 1
for i in unique:
    if i not in Prob_c:
        Prob_c[i] = 0
print(Prob_c)

{'Chinese': 3, 'Beijing': 1, 'Shanghai': 1, 'Macao': 1, 'Tokyo': 0, 'Japan': 0}

In [15]:
for i in Prob_c:
    Prob_c[i] = (Prob_c[i]+1)/(len(nc)+classes)
print(Prob_c)

{'Chinese': 0.8, 'Beijing': 0.4, 'Shanghai': 0.4, 'Macao': 0.4, 'Tokyo': 0.2, 'Japan': 0.2}

In [16]:
Prob_j = {}
for i in unique:
    for j in nj['Words']:
        if i in j:
            if i not in Prob_j:
                Prob_j[i] = 1
            else:
                Prob_j[i] += 1
for i in unique:
    if i not in Prob_j:
        Prob_j[i] = 0
print(Prob_j)

{'Chinese': 1, 'Tokyo': 1, 'Japan': 1, 'Beijing': 0, 'Shanghai': 0, 'Macao': 0}

In [17]:
for i in Prob_j:
    Prob_j[i] = (Prob_j[i]+1)/(len(nj)+classes)
print(Prob_j)

{'Chinese': 0.6666666666666666, 'Tokyo': 0.6666666666666666, 'Japan': 0.6666666666666666, 'Beijing': 0.3333333333333333, 'Shanghai': 0.3333333333333333, 'Macao': 0.3333333333333333}

In [18]:
PC = len(nc)/len(df)
PJ = len(nj)/len(df)
print(PC)
print(PJ)

0.75
0.25

In [19]:
for i in Prob_c:
    if i in query:
        PC *= Prob_c[i]
    else:
        PC *= (1-Prob_c[i])
print(PC)

0.005184000000000001

In [20]:
for i in Prob_j:
    if i in query:
        PJ *= Prob_j[i]
    else:
        PJ *= (1-Prob_j[i])
print(PJ)

0.02194787379972566

In [21]:
if PJ>PC:
    print("The given query is of class Japan")
else:    
    print("The given query is of class China")

The given query is of class Japan